.card-style {
    color: red;
    border: 1px solid #d7d6da;
    border-bottom: 0;
    border-radius: 0;
    background-color: #fff;
    color: #363145;
    cursor: pointer;
    padding: 16px;
    outline: 0;
    /* display: flex; */
    overflow: hidden;
    list-style-type: none;
    max-width: 800px;
}

.card-style:hover {
    background-color: #e0dfe4;
}
