.btn-back {
    font-weight: 600;
    font-size: 1em;
    color: #7e57c2;
    border: none;
    cursor: pointer;
    white-space: nowrap;
    overflow: hidden;
    text-decoration: none;
    text-align: center;
    line-height: 42px;
    display: flex;
    justify-content: center;
    align-items: center;
}
