.App {
    padding: 40px;
    line-height: 1.5;
    font-size: 16px;
    font-weight: 300;
    font-family: "Rubik", Helvetica, Arial, sans-serif;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

body {
    background: #e7e2f79d;
}

btn-back {
    font-weight: 400;
    border: none;
    border-radius: 42px;
    cursor: pointer;
    height: 42px;
    outline: 0;
    text-decoration: none;
    text-align: center;
    line-height: 42px;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media (max-width: 600px) {
    .App {
        padding: 5px;
        line-height: 1.5;
        font-size: 16px;
        font-weight: 300;
    }
}
